footer{
	background: linear-gradient(90deg, #00365B 0, #3A98A9 100%, #46ACB9 100%);
	.TopFooterMenu{
		padding-top: 2rem;
		padding-bottom: 2rem;
		p{
			line-height: 1.4;
			margin-bottom: 0;
			margin-top: 1.3rem;
			color: $white;
			font-weight: 500;
			font-size: 16px;
		}
		h4{
			font-size: 18px;
			color: $white;
			font-weight: 600;
			margin-bottom: 1rem;
			@media (min-width: 768px){
				margin-bottom: 2.5rem;
			}
		}
		h6{
			color: $white;
			font-weight: 600;
			margin-bottom: 1.2rem;
			font-size: 1.6rem;
		}
		form{
			width: 100%;
			position: relative;
			display: flex;
			margin-top: 1rem;
			@media (min-width: 768px){
				width: 95%;
			}
			input[type="email"]{
				width: 100%;
				border: none;
				border-radius: 3px 0 0 3px;
				padding: 13px;
				&::placeholder{
					color: $litherGray;
					font-weight: 500;
				}
			}
			span{
				position: relative;
				display: flex;
			}
			input[type="submit"]{
			    background: #ffb827 url(../img/send.svg) no-repeat;
			    border: none;
			    width: 55px;
			    height: 56px;
			    border-radius: 0 3px 3px 0;
			    cursor: pointer;	
			    background-position: 15px;	
			    transition: 0.3s ease-in-out;	    
			    &:hover{
			    	background-color: $base;
			    }
			}
		}
		.innerlinks {
            display: flex;
            padding-bottom: 1.2em;
            svg {
                width: 20px;
                height: 20px;
                fill: $white;
                margin-right: .8em;
                vertical-align: middle;
                flex-basis:25px;
                opacity:0.8;
            }
            a {
                color: $white;
                display: block;
                line-height: 22px;
                vertical-align: middle;
                font-weight:400;
                font-size: 14px;
                @media(min-width: 768px) {
                    flex-basis: 210px;
                }
            }
            &:last-child{
                svg{
                    @media(max-width:575px){
                        width:40px;
                        height:25px;
                        flex-basis: auto;
                    }
                }
            }
            &:last-child{
            	padding-bottom: 0;
            }
        }
        .socialmedia {
		    display: flex;
		    align-items: center;
		    a {
		        margin-right: 10px;
		        display: inline-block;
		        vertical-align: middle;
		        border: thin solid rgba(255, 255, 255, 0.39);
		        height: 30px;
		        width: 30px;
		        border-radius: 50%;
		        display: flex;
		        align-items: center;
		        justify-content: center;
		        .svgClass {
		            width: 14px;
		            height: 14px;
		            fill: $white;
		        }
		        &:last-child{
		        	margin-right:0;
		        }
		    }
		}
		.col-12{
			margin-top: 2rem;
		}
	}
	.CopyrightBlock{
		border-top: thin solid rgba($white, 0.3);
		padding: 1rem 0;
		@media (min-width: 768px){
			padding: 1.5rem 0;
		}
		p{
			margin-bottom: 0;
			color: $white;
			opacity: 0.7;
			text-align: center;
			font-size: 14px;
		}
	}
}