header {
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.08);
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        padding: 30px 0;
       
        .navbar-links {
            display: flex;
            align-items: center;
            ul {
                display: flex;
                position: relative;
                align-items: center;
                justify-content: space-between;
              /*  @media(max-width: 991px) {
                    display: none;
                }*/
                li {
                    list-style: none;
                    position: relative;
                    &:not(:last-child){
                     margin-right: 60px;
                    }
            
                    a {
                        display: block;
                        text-decoration: none;
                        color: $offbase;
                        font-size: 16px;
                        font-weight: 500;
                        transition: all .4s ease-in-out;
                        &::after {
                            display: block;
                            content: '';
                            width: 0;
                            position: absolute;
                            bottom: -8px;
                            left: 0;
                            height: 2px;
                            margin-top: 5px;
                            background: $base;
                            transition: all 0.4s ease-in-out;
                        }
                        &:hover {
                            color:$base;
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            
        }
    }
}

/*Mobile Menu CSS*/
.MenuButton {
        cursor: pointer;
        transition:all 0.2s ease-in-out;
        .bar {
            width: 25px;
            height: 2px;
            background-color: $white;
            margin: 6px 0;
            transition:all 0.2s ease-in-out;
            &:last-child {
                width: 15px;
            }
       }
   }