.StepByStepForm{
	padding: 6rem 0;
	.ShadowBox{
		background: #FFFFFF 0% 0% no-repeat padding-box;
		box-shadow: 0px 0px 20px #0000001A;
		opacity: 1;
		padding: 8rem;
		background-color: $white;
		width: 100%;
		@media(max-width:767px){
			padding: 4rem 10px;
		}
		.FormBlock{
			h2{
				padding-bottom: 0;
				margin-bottom: 20px;
			}
			form{
				input[type="text"],input[type="email"],textarea{
					width: 100%;
					border: thin solid $litherGray;
					padding: 10px;
					font-size: 18px;
					color: $base;
					transition: 0.2s all;
					margin-top: 3rem;
					@media(max-width:767px){
						margin-top: 2rem;
						padding: 7px;
					}
					&:hover{
						border-color: $offbase;
					}
					&:focus{
						outline: none;
					}
					&::placeholder{
						color: $litherGray;
					}
				}
				textarea{
					height: 145px;
				}
				[type=submit]{
					margin: 4rem auto 0;
					display: flex;
					text-align: center;
					padding: 1.8rem 6rem;
					background-color: $baseLight;
					color: $white;
					border-radius: 50px;
					font-size: 18px;	
					border: none;
					cursor: pointer;
					transition: 0.2s all;
					@media(max-width:767px){
						padding: 1.5rem 4rem;
					}
					&:hover{
						background-color: $offbase;
					}
					&:focus{
						outline: none;
					}
				}
			}
		}
	}
}