
.btn{
    font-weight:600;
    padding: 19px 20px;
    min-width: 220px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    border-radius: 30px;
    transition: all 0.8s ease;
    box-shadow:0px 5px 15px rgba(0,0,0,0.1);
     @media(max-width:767px) {
        min-width: 180px;
        padding: 17px;
    }
}
.cta-btn-fill{
    color:$white;
    &:hover {
        background:$white;
        color: $base;
    }
}

.cta-btn-transparent{
        color: #00416B;
        background-color:$white;
        &:hover {
            color: $white;
            background-color:#00416B;
        }
    }

