.leftContentRightImage{
	.innerWrap{
		background-color:$lightblue;
		color:$white;
		height: 100%;
		padding:45px;
		@include FlexCenter;
		flex-direction:column;
		h2{
			margin-bottom:20px;
		}
		p{
			color:$white;
		}
	}
	img{
		width:100%;
	}
}