.leftImageRightContent{
	/*img{
		height:100%;
	}*/
	.innerWrap{
		background-color:$lightblue;
		color:$white;
		height: 100%;
		padding:45px;
		padding-right:20%;
		h2{
			margin-bottom:20px;
		}
		p{
			color:$white;
		}
		.circleList{
			padding-left:25px;
			margin-top:25px;
			li{
				position: relative;
			    line-height:28px;
			    &:not(:last-child){
			    	margin-bottom:20px;
			    }
				&::before{
					content: "";
				    width: 8px;
				    height: 8px;
				    background-color: transparent;
				    border: 3px solid $white;
				    border-radius: 50%;
				    position: absolute;
				    left: -25px;
				    top: 6px;
				}
			}
		}
	}
}