.OnlineBusinessBlock{
	padding: 8rem 0;
	.ContentBlock{
		h5{
			font-size: 22px;
			color: $darkGrey;
			text-align: center;
		}
		h2{
			margin-bottom: 0;
			padding-bottom: 2rem;
		}
		p{
			text-align: center;
			color: $grey;
		}
	}
	.TopIconBottomContent{
		.IconContentBox{
			margin-top: 3rem;
			img{
				margin-bottom: 2rem;
				width: 55px;
    			height: 50px;
			}
			h5{
				font-size: 18px;
				color: $base;
			}
			p{
				color: $darkGrey;
				line-height: 1.6;
				margin-bottom: 0;
				margin-top: 1.5rem;
			}
		}
	}
}