.OurClients{
	padding: 8rem 0;
	background-color: $litherGray;
	h2{
		margin-bottom: 0;
	}
	.TeamCards{
		.CardsBlock{
			margin-top: 3rem;
			transition: 0.5s all;	
			position: relative;		
			.ImgBox{
				position: relative;
				transition: 0.5s all;
				img{
					opacity: 1;
					transition: 0.5s all;
				}
				&:before{
					content: "";
					position: absolute;
					background-color: rgba($base, 1);
					width: 100%;
					height: 0;
					transition: 0.5s all;
					top: 0;
					left: 0;
					right: 0;
					margin: 0 auto;
					border-radius: 5px;
				}
			}
			.ContentBox{
				text-align: center;
				// background-color: rgba($grey, 0.05);
				border-radius: 0 0 5px 5px;
				padding: 1rem 0;
				transition: 0.5s all;
				opacity: 0;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				a{
					border: thin solid $white;
					padding: 2rem 4rem;
					border-radius: 50px;
					background-color: $base;
					transition: 0.2s all;
					@media(max-width:767px){
						padding: 1rem 2rem;
					}
					&:focus{
						outline: none;
					}
					&:hover{
						background-color: $white;
						border-color: $offbase;
						color: $base;
					}
				}
			}
			&:hover{
				.ImgBox{
					img{
						opacity: 0;
					}
					&:before{
						height: 100%;
					}
				}
				.ContentBox{
					top: 45%;
					color: $white;
					// background-color: transparent;
					opacity: 1;
					@media(max-width:767px){
						top: 40%;
					}
					p{
						color: $white;
					}
				}
			}
		}
		.ExternalLink{
			margin: 4rem auto 0;
			display: block;
			max-width: 220px;
			text-align: center;
			padding: 1.8rem 6rem;
			background-color: $baseLight;
			color: $white;
			border-radius: 50px;
			font-size: 18px;	
			border: none;
			cursor: pointer;
			transition: 0.2s all;
			@media(max-width:767px){
				padding: 1.5rem 4rem;
			}
			&:hover{
				background-color: $offbase;
			}
			&:focus{
				outline: none;
			}
		}
	}
}
