.Section {
	padding-top: 5rem;
	padding-bottom: 5rem;
	@media screen and (min-width: 768px) {
		padding-top: 10rem;
		padding-bottom: 10rem;
	}
	&.Continue {
		padding-bottom: 0;
	}
	&.InContinue {
		padding-top: 0;
	}
}

