.banner {
    position: relative;
    overflow:hidden;
     .bannerSlider{
        .bannerImage {
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                right: 0;
                /*background-color: $overlayColor;*/
            }
            img {
                width: 100%;
                @media(max-width: 767px) {
                    min-height: 330px;
                    object-fit: cover;
                }
            }
        }
        .bannerWrapper {
            position: relative;
            .bannerDetailWrapper{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                .bannerDetails {
                    text-align:center;
                    color: $white;
                    h1 {
                        font-size: 6.5rem;
                        margin-bottom: 4rem;
                       /* @media(max-width: 991px) {
                            font-size: 2.5rem;
                        }*/
                        @media(max-width:767px) {
                            font-size: 2.6rem;
                        }
                    }
                    p {
                        color: $white;
                        font-size: 2.2rem;
                        font-weight: 600;   
                        @media(max-width:480px){
                            line-height: normal;
                        }
                    }
                }
            }   
        }
    
      /*  .slick-arrow {
            height: 50px;
            width: 50px;
            background: $white;
            box-shadow: 0px 0px 10px $shadowMedium;
            border-radius: 50%;
            z-index:9;
            @media(max-width:991px){
                display:none !important;
            }
        }*/
       /* .slick-prev {
            left: 15px;
            @media(max-width:767px){
              left:-17px;
            }
            &::before {
                content: '';
                width: 12px;
                height: 18px;
                display: inline-block;
                background: url('../img/tempImg/arrow-left.png') no-repeat;
                margin-right: 3px;
            }
        }*/
       /* .slick-next {
            right: 15px;
             @media(max-width:767px){
              right:-17px;
            }
            &::before {
                content: '';
                width: 12px;
                height: 18px;
                display: inline-block;
                background: url('../img/tempImg/arrow-right.png') no-repeat;
                margin-left:3px;
            }
        }*/
        /*.slick-dots {
            bottom:25px;
            @media(max-width:575px){
                bottom:15px;
            }
            li {
                width: 14px;
                height: 14px;
                button {
                    border: 1px solid $white;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    &::before {
                        width: 14px;
                        height: 14px;
                        content: '';
                        border-radius: 50%;
                        opacity: 1;
                    }
                }
            }
            li.slick-active{
                button{
                    &::before{
                        background:$white;
                    }
                }
            }
        }*/
    }
}


