* {
    box-sizing: border-box;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    background: $white;
    /*scroll-behavior: smooth;*/
    font-size:62.5%;
}
body {
  font: 500 16px/1.4 $primaryFont;
  color: $base;
  transition: all .4s .3s ease-in;
}

button:focus,button:active{
    border:none;
    outline:none;
}
body,
html {
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

main {
    margin-top: 98px;
    @media(max-width: 767px){
        margin-top: 85px;
    }
}


p {
    font: 500 1.6rem/27px $primaryFont;
    margin-top: 0;
    margin-bottom: 1.5rem;
    color:$grey;
}

a {
    text-decoration: none;
    color:inherit;
    &:hover,&:focus{
     border:none;
     outline:none;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
    color: inherit;
    font-family: $primaryFont;
}

h1,
h2 {
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

label {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

h2 {
    font-size:3.4rem;
    text-align: center;
    @media(max-width:767px){
        font-size:2.4rem;
    }  
}

.text-center {
    text-align: center;
}
.px-0{padding-left:0;padding-right:0;}
.py-0{padding-top:0;padding-bottom:0;}
.pr-0{padding-right:0;}
.pl-0{padding-left:0;}
.mb-2 {margin-bottom: 2rem;}
.DesktopOnly {
    display: none;
    @media (min-width: 768px) {
        display: block;
    }
}
.MobileOnly {
    @media (min-width: 768px) {
        display: none;
    }
}
.MobileSpaceOnly {
    padding-top: 3rem;
    @media (min-width: 768px) {
        padding-top: 0;
    }
}

.DesktopOnlySmall {
    display: none;
    @media (min-width: 480px) {
        display: block;
    }
}

.MobileOnlySmall {
    @media (min-width: 480px) {
        display: none;
    }
}

.centeralignHead{
    text-align:center;
    margin-bottom: 5.5rem;
   p{
    max-width:800px;
    width:100%;
    margin:0 auto;
   }
}