
$base : #00365B;
$offbase : #1F5B87;
$baseLight: #46ACB9;
$lightblue:#4195A6;
$black: #000;
$white: #fff;
$litherGray:#ccc;
$lightBlack: #191818;
$yellow: #FFB827;
$grayLighter:#ECECEF;
$grey: #666666;
$darkGrey: #333333;
$offGrey: #707070;
$graySection: #FAF6FB;
$graySection:#f5f5f7;


$boxshadowPriamry:#4aa6fc;
$boxshadowSecondary:#0b5ff4;
$primaryFont: 'Gotham',sans-serif;
$secondaryFont: 'Lato', sans-serif; 
