
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Gotham-Thin.otf"); 
}
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Gotham-Light.otf"); 
}
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Gotham-Medium.otf"); 
}
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Gotham-Book.otf"); 
}
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Gotham-Bold.otf"); 
}
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Gotham-Black.otf"); 
}