@mixin Overlay() {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@mixin Ease($time: 0.2s) {
	transition: all ease $time;
}

@mixin FlexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flexalignCenter {
	display: flex;
    align-items: center;
}

@mixin btnGradient{
	background-image:linear-gradient(to right, $boxshadowPriamry,$boxshadowSecondary);
}

@mixin btnGradient{
	background-image:linear-gradient(to right, $boxshadowPriamry,$boxshadowSecondary);
}


